.navBar {
  position: fixed;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
  display: flex;
  top: 10px;
  mix-blend-mode: difference;
  height: 50px;
  width: 100%;
  @media (max-width: 850px) {
    margin-top: 0;
  }
  .mixBlendMode {
    position: absolute;
    cursor: pointer;
    z-index: 1000;
    font-family: 'Helvetica';
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    margin-left: 20px;
  }
}
.hiperNavBar {
  position: absolute;
  height: 53px;
  width: fit-content;
  display: flex;
  align-items: center;
}
.navBar.hidden {
  transform: translateY(-170%);
}

.navBar.visible {
  transform: translateY(0);
}

.pageNaviagtion {
  z-index: 9999;
  position: fixed;
  width: fit-content;
  top: 15px;
  left: calc(50% - 315px / 2);
  border-radius: 10px;
  border: 1px solid rgba(185, 205, 212, 0.1);
  background: rgba(40, 40, 40, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 9999;
  transition: 300ms;
  min-width: 314px;

  div {
    border-radius: 10px;
    a {
      color: #8b8d8f;
      font-family: 'Helvetica';
      mix-blend-mode: difference;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
    }
  }
}

.pageNaviagtion.hidden {
  transform: translateY(-170%);
}

.pageNaviagtion.visible {
  transform: translateY(0);
}
.pageNaviagtionDisplay {
  display: inline-flex;
  padding: 16px 24px;
  align-items: center;

  gap: 32px;
  display: flex;
  background: rgba(40, 40, 40, 0.3);
  .pageNaviagtionDisplayItem a {
    transition: all 300ms;
  }

  .pageNaviagtionDisplayItem:hover {
    a {
      color: white;
    }
  }
}
.pageNavigationMobie {
  display: none;

  .burgerBtn {
    cursor: pointer;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    justify-content: center;
    gap: 7px;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(185, 205, 212, 0.1);
    background: rgba(40, 40, 40, 0.3);
    backdrop-filter: blur(10px);
    transition: background 0.3s ease;
    overflow: visible;
  }

  .line {
    width: 16px;
    height: 1px;
    background-color: white;
    transition: all 0.3s ease;
  }

  .is-open .line1 {
    width: 22px;
    transform: translateY(8px) rotate(45deg);
    min-width: 16px;
  }

  .is-open .line2 {
    opacity: 0;
  }

  .is-open .line3 {
    width: 22px;
    transform: translateY(-8px) rotate(-45deg);
  }
}
.hovered {
  transform: translate(-10px, 5px) !important;
}
.textWallet {
  color: #ffff;
  font-family: 'Helvetica';
  font-size: 18px;
  position: fixed;
  right: 80px;
  top: 30px;
  z-index: 99999;
  mix-blend-mode: difference;
  font-weight: 700;

  transform: translateX(0) translateY(0);
  transition:
    transform 0.3s ease,
    color 0.3s ease;

  @media (max-width: 850px) {
    display: none;
  }
}
.textWallet.hidden {
  transform: translateY(-320%);
}

.textWallet.visible {
  transform: translateY(0);
}

.connectWalletBox {
  transition: transform 0.3s ease;
  height: 53px;
  width: fit-content;
  z-index: 99999;
  position: fixed;
  top: 15px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: end;

  @media (max-width: 850px) {
    position: absolute;

    gap: 10px;
  }

  .button {
    order: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform-origin: right top;
    transition: transform 0.3s ease;
    @media (max-width: 850px) {
      order: unset;
      max-width: 40px;
      max-height: 40px;
      min-width: 40px;
      min-height: 40px;
    }
    &:hover {
      transform: scale(1.25);
      filter: drop-shadow(0px 2px 12px rgba(224, 255, 37, 0.2));
      rect {
        fill: #d9ff00;
      }
    }
  }
}

.connectWalletBox.hidden {
  transform: translateY(-170%);
}

.connectWalletBox.visible {
  transform: translateY(0);
}

.mobileMenu {
  position: absolute;
  display: flex;

  justify-content: center;

  left: 0;
  width: 100vw;
  height: calc(100% + 25px);
  background-color: #333;
  background: url('../../assets/bgMobileGradient.png') rgb(0, 0, 0) 0px -6309.841px /
    316.774% 874.555% no-repeat;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.mobileMenuBox {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mobileMenuLinks {
    li {
      list-style-type: none;
      text-align: center;
      margin-bottom: 32px;
      a {
        color: #eeede9;
        font-family: 'NeueMontreal', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
      }
    }
  }
}

.mobileMenuBox {
  a:hover {
    color: #e0ff25 !important;
    transition: color 500ms;
  }
}

.mobileMenu.is-open {
  transform: translateX(0);
}

.burgerBtn {
  position: relative;
  z-index: 1100;
}

.button {
  position: relative;
  z-index: 1100;
}

.linkBar > span:hover > a,
.subLinkBarMobile a:hover {
  color: #e0ff25 !important;
  transition: color 500ms;
}

.subLinkBarMobile {
  margin-top: 118px;
  margin-bottom: 48px;
  width: 337px;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 32px;

  div {
    position: relative;

    h6 {
      color: #eeede9 !important;
      font-family: 'NeueMontreal', sans-serif;
      font-size: 14px !important;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      opacity: 0.4;
      margin-bottom: 10px;
    }
  }

  a {
    color: #eeede9;
    text-align: center;
    font-family: 'NeueMontreal', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
  }
}

@media (max-width: 850px) {
  .connectWalletBox.hidden {
    transform: translateY(0%);
  }
  .navBar {
    position: absolute;
  }

  .navBar.hidden {
    transform: translateY(0%);
  }

  .pageNaviagtion {
    display: none;
  }
  .connectWalletBox {
    p {
      display: none;
    }
  }

  .pageNavigationMobie {
    display: inline-flex;
  }

  .mainSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .mainSectionContentBox {
      position: relative;
      top: 50%;
      bottom: 50%;
      transform: translateY(-55%);
      height: 100%;
      max-width: 60%;
      text-align: center;
      mix-blend-mode: difference;
    }

    .mainSectionContent {
      position: relative;
      top: 50%;
      bottom: 50%;
      transform: translateY(-150%);

      h1 {
        color: #ffff;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        font-family: 'NeueMontreal', sans-serif;
        mix-blend-mode: difference;
      }
    }
  }
}
