.roomIdPageMain {
  .background {
    background-image: url('../../assets/RoomGradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 100vh;
  }
}
.roomIdPageContent {
  margin-top: 200px;
}
